---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <h1>SITE NO AR!</h1>
    <p>Parabéns, a estrutura está funcionando.</p>
    <p>Agora vamos adicionar seu conteúdo de volta.</p>
</Layout>```
